@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

.imgcarousel {
  width: 500px;
  height: 500px; }

.carousel {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

main section p a {
  text-decoration: none;
  color: white; }

main div div p {
  background-color: rgba(0, 0, 0, 0.507);
  font-family: Verdana, Geneva, Tahoma, sans-serif, serif; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9896f7; }

main section {
  background-color: #ffc8dd;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif, serif; }

nav div a {
  background-color: #f8a3c4;
  color: black;
  border: white solid 3px;
  margin: 15px;
  padding: 15px; }
  nav div a:hover {
    transform: scale(1.15); }

.btn-style {
  background-color: #e3bff8;
  border: black solid 2px;
  font-family: 'Source Sans Pro', sans-serif; }

.card {
  display: flex;
  height: 100%;
  width: 100%; }

.card-img-top {
  height: 273px; }

.card-img-top-otras {
  height: 250px; }

.card-img-top-baberos {
  height: 250px; }

.card-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif, serif; }

.card-text {
  background-color: #72f5a4; }

.card-body {
  background-color: #72f5a4;
  font-family: Lucida Sans; }

main div div {
  justify-content: center; }

@media (max-width: 430px) {
  .grids {
    grid-template-areas: "header header header header"   "main main main main"  "main main main main"  "footer footer footer footer"; }
  .imgcarousel {
    width: 500px;
    height: 500px; }
  .carousel {
    padding-top: 2rem;
    width: 100%; }
  .imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 300px; }
  .footer p {
    padding-top: 180px; }
  main div div {
    flex-direction: column; }
  .col-3 {
    width: 100%; } }

.img {
  height: 130px;
  padding: 5px; }

.imagenes {
  padding-top: 10px;
  height: 300px; }

.main {
  animation-name: colores;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-family: Arial, Helvetica, sans-serif; }

.fotos {
  display: flex;
  justify-content: space-evenly; }

.ul li {
  list-style-type: none; }

.footer {
  background-color: #ffadad; }
  .footer div {
    display: flex; }
  .footer h4 {
    padding-left: 5px;
    padding-top: 5px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  .footer ul {
    display: flex; }
  .footer li {
    list-style-type: none; }
  .footer p {
    padding-left: 5px;
    padding-top: 90px;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif; }

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px; }
  .newsletter p {
    padding: 0%;
    font-size: medium; }

.logos-redes {
  width: 45px;
  height: 45px; }

/* Cambios para bootstrap */
.row {
  padding: 15px; }

/* Subi tu diseño html */
.p-std {
  display: flex;
  justify-content: center; }

/* Grids */
.grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 1fr;
  grid-template-rows: 0.5fr 1.9fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer"; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

.header {
  grid-area: header; }

/* Grids */
.div {
  display: flex;
  align-items: center; }

.ul {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end; }

@keyframes colores {
  0% {
    background-color: #07beb8; }
  10% {
    background-color: #3dccc7; }
  20% {
    background-color: #68d8d6; }
  30% {
    background-color: #9ceaef; }
  40% {
    background-color: #c4fff9; }
  50% {
    background-color: #c4fff9; }
  60% {
    background-color: #9ceaef; }
  70% {
    background-color: #68d8d6; }
  80% {
    background-color: #3dccc7; }
  90% {
    background-color: #07beb8; }
  100% {
    background-color: #07beb8; } }

/* Responsive desing - Media query - Mobile Last */
@media (max-width: 768px) {
  .grids {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header header header header"  "main main main main"  "main main main main"  "main main main main"  "footer footer footer footer"; }
  .imgcarousel {
    width: 500px;
    height: 500px; }
  .carousel {
    padding-top: 2rem;
    width: 100%; }
  .main p {
    font-size: large; }
  .fotos {
    display: flex;
    flex-direction: column; }
  .imagenes {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 700px; } }

/* Small screens */
@media (max-width: 430px) {
  .grids {
    grid-template-areas: "header header header header"   "main main main main"  "main main main main"  "footer footer footer footer"; }
  .imgcarousel {
    width: 500px;
    height: 500px; }
  .carousel {
    padding-top: 2rem;
    width: 100%; }
  .imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 300px; } }

@media (max-width: 380px) {
  .grids {
    grid-template-areas: "header header header header"   "main main main main"  "main main main main"  "footer footer footer footer"; }
  .imgcarousel {
    width: 500px;
    height: 500px; }
  .carousel {
    padding-top: 2rem;
    width: 100%; }
  .imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 300px; } }
