* {
    padding: 0;
    margin: 0;
}

.img {
    height: 130px;
    padding: 5px;
}

.imagenes {
    height: 300px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9896f7;
}

.nav {
    background-color: #9896f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav li {
    list-style-type: none;
    padding: 15px;
    margin: 15px;
    background-color: #ffadad;
    border: rgb(255, 255, 255) solid 3px;
}

.nav li:hover {
    transform: scale(1.15);
}

.main {
    animation-name: colores;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.fotos {
    display: flex;
    justify-content: space-evenly;
}

/* Grids */
.grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1.1fr 1fr;
    grid-template-rows: 1fr 1fr 1.1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header nav nav"
        "main main main main"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
}

.footer {
    grid-area: footer;
}

.main {
    grid-area: main;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

/* Grids */
.div {
    display: flex;
    align-items: center;
}

.ul {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-end;
}

.ul li {
    list-style-type: none;
}
.footer{
    
}
@keyframes colores {
    0% {
        background-color: #07beb8;
    }

    10% {
        background-color: #3dccc7;
    }

    20% {
        background-color: #68d8d6;
    }

    30% {
        background-color: #9ceaef;
    }

    40% {
        background-color: #c4fff9;
    }

    50% {
        background-color: #c4fff9;
    }

    60% {
        background-color: #9ceaef;
    }

    70% {
        background-color: #68d8d6;
    }

    80% {
        background-color: #3dccc7;
    }

    90% {
        background-color: #07beb8;
    }

    100% {
        background-color: #07beb8;
    }
}

/* Responsive desing - Media query - Mobile Last */
@media (max-width: 768px) {
    .grids {
        grid-template-areas:
            "header nav nav nav"
            "main main main main"
            "main main main main"
            "main main main main"
            "footer footer footer footer";
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .imagenes{
        padding: 10px;
    }
}
/* Small screens */
@media (max-width: 375px) {
    .grids{
        grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
    }
    .imagenes{
        height: 220px;
        width: 260px;
    }
}