.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9896f7;
  }
nav{
  div{
    a{
      @extend %estilolinks;
    }
  }
}