.imgcarousel{
    width: 500px;
    height: 500px;
}
.carousel{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    ul{
        li{
            a{
                text-decoration: none;
                color: rgb(253, 253, 253);
            }
        }
    }
}
main{
    section{
        @extend %estilotexto;
        p{
            a{
                text-decoration: none;
                color: rgb(255, 255, 255);
            }
        }
    }
    div{
        div{
            h5{
                background-color: rgba(0, 0, 0, 0.507);
                font-family: Verdana, Geneva, Tahoma, sans-serif, serif;
            }
            p{
                background-color: rgba(0, 0, 0, 0.507);
                font-family: Verdana, Geneva, Tahoma, sans-serif, serif;
            }
        }
    }
}
