  .card {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .card-img-top{
    height: 273px;
  }
  .card-img-top-otras {
    height: 250px;
  }
  
  .card-img-top-baberos {
    height: 250px;
  }
  .card-body{
    @include cardstyle(#d0f4de, Lucida Sans);
  }